@font-face {
  font-family: Gatwick-Light;
  src: url(./fonts/Gatwick-Light.otf);
}

@font-face {
  font-family: Exensa;
  src: url(./fonts/ExensaGrotesk-Regular.ttf);
}

@keyframes lefttoright {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* :hover {
  transition: all 1s ease-in-out 0.3s;
  transform: rotate(360deg);
} */

* {
  box-sizing: border-box;
  /* cursor: url(./cursor.png) 10 10, pointer; */
  scroll-behavior: smooth;

  margin: 0;
}

body {
  margin: 0;
  background-color: rgb(18, 37, 41);
  font-family: "Roboto", sans-serif;
}

.navigation {
  width: 100%;
  padding: 50px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: rgb(230, 230, 230);
  font-size: 18px;
  font-weight: 500;
  padding: 0 16px;
}

#about-container {
  padding: 100px 200px;
}

.introduction h2 {
  color: white;
  font-weight: 500;
  font-family: Exensa;
}
